<!DOCTYPE html>
<html lang="en">
<head>
  	<meta charset="utf-8"/>
    <title>公共JS和CSS引用</title>
    
    <!-- BootstrapCss引用 -->
    <link href="<%=path %>/css/bootstrap-val/bootstrapValidator.css" rel="stylesheet"/>
    
    <!-- JqueryJS引用 -->
    <script src="<%=path %>/js/jquery/jquery-3.3.1.min.js"></script>
    <!-- BootstarpJS引用 -->
    <script src="<%=path %>/js/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="<%=path %>/js/bootstrap-val/bootstrapValidator.min.js"></script>
</head>

<body>
</body>
</html>
