<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
    <!-- CSS引用 -->
    <link rel="stylesheet" href="/Emp/css/bootstrap-3.3.7-dist/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/Emp/css/bootstrap-3.3.7-dist/bootstrap.css" type="text/css" />
    
</head>
<body>
      <div class="alert alert-dismissable alert-success" style="margin-top:190px;height:300px;">
		<center style="margin-top:120px;">
		<h2>Import Success!</h2>
		</center>
	  </div>
</body>
</html>