<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
<!-- CSS引用 -->
    <link rel="stylesheet" href="/Emp/css/bootstrap-3.3.7-dist/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/Emp/css/bootstrap-3.3.7-dist/bootstrap.css" type="text/css" />
</head>
<body>
      <div class="alert alert-dismissable alert-success">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			<h4>
					注意
			</h4> <strong>Warning!</strong> Import Success!<a href="#" class="alert-link">alert link</a>
	  </div>
</body>
</html>