
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Login</title>

    <link rel="stylesheet" href="/Emp/css/login/login1.css" type="text/css" />
    <link rel="stylesheet" href="/Emp/css/login/login2.css" type="text/css" />
    <link rel="stylesheet" href="/Emp/css/bootstrap-3.3.7-dist/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/Emp/css/bootstrap-3.3.7-dist/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/Emp/css/bootstrap-val/bootstrapValidator.css" type="text/css" />
    
    <script src="/Emp/js/jquery/jquery.min.js"></script>
    <script src="/Emp/js/jquery/jquery.js"></script>
    <script src="/Emp/js/bootstrap-val/bootstrapValidator.min.js"></script>
    
    <script src="/Emp/js/admin/loginvalidate.js"></script>
    <script src="/Emp/js/admin/login.js"></script>
    
</head>
<body class="site" style="background:url(/Emp/image/login/background.png) no-repeat;">
    <main role="main" class="site-content aligner">
        <div class="aligner-item">
            <div class="container">
              <div class="box center-block offset-bottom-large">
               <h1 class="h4 page-header text-center offset-bottom">Emp  Management System</h1>
               <form id="loginForm" method="post">
                  <div class="form-group">
                    <label class="control-label required" for="login_username">UserName</label>
                    <input type="text" id="username" name="username" class="form-control" />
                  </div>
                  <div class="form-group">
                    <label class="control-label required" for="login_password">Password</label>
                    <input type="password" id="pwd" name="pwd" class="form-control" />
                  </div>
                  <div class="form-group">
                    <button type="button" onClick="login()" class="btn btn-lg btn-block btn-primary">Sign In</button>
                  </div>
                </form>
              </div>
            </div>
        </div>
    </main>

</body>
</html>
