<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8"/>
   <title>sysParamList</title>
    
    <!-- CSS引用 -->
    <link rel="stylesheet" href="/Emp/css/bootstarp-table/bootstrap-table.css" type="text/css" />
    <link rel="stylesheet" href="/Emp/css/bootstarp-table/bootstrap-table.min.css" type="text/css" />   
	<link rel="stylesheet" href="/Emp/css/bootstrap-3.3.7-dist/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/Emp/css/bootstrap-val/bootstrapValidator.css" type="text/css" /> 
	<link rel="stylesheet" href="/Emp/css/main/bootstrap.css" type="text/css" />    
	<link rel="stylesheet" href="/Emp/css/bootstrap-3.3.7-dist/bootstrap-treeview.min.css" type="text/css" />
    
    <!-- JS引用 -->
    <script src="/Emp/js/jquery/jquery.js" type="text/javascript"></script>
    <script src="/Emp/js/jquery/jquery.knob.js" type="text/javascript"></script>
    <script src="/Emp/js/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="/Emp/js/jquery/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="/Emp/js/bootstrap-val/bootstrapValidator.min.js"></script>
	<script src="/Emp/js/bootstrap-3.3.7-dist/bootstrap.js"></script>
    <script src="/Emp/js/bootstrap-table/dist/bootstrap-table.js" type="text/javascript"></script>
	<script src="/Emp/js/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js"></script>
	<script src="/Emp/js/admin/main.js" type="text/javascript"></script>
	<script src="/Emp/js/bootstrap-table/dist/extensions/tree-view/bootstrap-treeview.min.js"></script>
    <script src="/Emp/js/admin/sysparamlist.js"></script>
    <script src="/Emp/js/admin/sysparamvalidate.js"></script>
</head>
<body>
    
    
    <div class="panel panel-default">
       <div class="panel-heading">Query Conditions</div>
         <div class="panel-body">
           <form id="formSearch" class="form-horizontal">
              <div class="form-group" style="margin-top:15px">
                  <label class="control-label col-sm-1">Name</label>
                  <div class="col-sm-3">
                      <input type="text" class="form-control" id="paramname" name="paramname"/>
                  </div>
                  <div class="col-sm-4" style="text-align:left;">
                       <button type="button" style="margin-left:50px" onclick="search()" id="btn_query" class="btn btn-primary">Search</button>
                  </div>
              </div>
           </form>
         </div>
    </div>     
    
     <!-- 工具栏  -->
	<div id="toolbar" class="btn-group">
	   	<button id="addAdmin" onclick="openAddParamTable()" type="button" class="btn btn-default">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add
		</button>
	</div>
    
    <!-- 数据列表  -->
    <table id="sysparamlist"></table>
    
	<div id="addParamTable" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">×</button>
				<h4 class="modal-title" id="myModalLabel">添加系统参数</h4>
			</div>
			<form class="form-horizontal" id="addAdminForm">
				<div class="modal-body">
					<div class="form-group">
						<label class="control-label col-sm-4" for=""></label>
						<div class="col-sm-4">
							<select id="optionName" class="form-control selectpicker" onclick="chooseOption()">
								<option class="form-control selectpicker" value="">--Option--</option>
								<option class="form-control selectpicker" value="0">新增父任务</option>
								<option class="form-control selectpicker" value="1">新增子任务</option>
							</select>  
						</div>
					</div>
					<div class="form-group" style="display: block;" id="showModel">
						<div class="form-group">
							<label class="control-label col-sm-4">Name</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" readonly="readonly"/>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-4">Value</label>
							<div class="col-sm-4">
								<input class="form-control" type="text" readonly="readonly"/>
							</div>
						</div>
					</div> 
					<div class="form-group" style="display: none;" id="parentId">
						<label class="control-label col-sm-4" for="parentName">Name</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="parentName" name="parentName"/>
						</div>
					</div>
					<div class="form-group" style="display: none;" id="childId">
						<div class="form-group">
							<label class="control-label col-sm-4" for="txt_search_statu">Parent Task</label>
							<div class="col-sm-4">
								<input style="width:300px;" type="text" id="taskcount" name="taskcount" class="form-control" value="" 
																	onclick="loadParamTree()" placeholder="任务量" readonly="readonly"/>  
								<div style="width:300px;" id="treeview">
									<table id="treeg"></table>
								</div>  
							</div>
						</div>
						<div class="rowGroup">
							<label class="control-label col-sm-4" for="childName">Name</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="childName" name="childName"/>
							</div>
						</div>
						<br></br>
						<br></br>
						<div class="rowGroup">
							<label class="control-label col-sm-4" for="childValue">Value</label>
							<div class="col-sm-4">
								<input class="form-control" type="text" id="childValue" name="childValue"/>
							</div>
						</div>
					</div> 
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button onclick="addSysParam()" type="button" class="btn btn-primary">Save</button>
				</div>
				</form>
			</div>
		</div>
	</div>
    
</body>
</html>