<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ability.emp.admin.dao.AdminSystemParamDao" >
  <resultMap id="BaseResultMap" type="com.ability.emp.admin.entity.AdminSystemParamEntity" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="PARENT_NAME" property="parentName" jdbcType="VARCHAR" />
    <result column="PARENT_VALUE" property="parentValue" jdbcType="VARCHAR" />
    <result column="CHILD_NAME" property="childName" jdbcType="VARCHAR" />
    <result column="CHILD_VALUE" property="childValue" jdbcType="VARCHAR" />
    <result column="DEL" property="del" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, PARENT_NAME, PARENT_VALUE, CHILD_NAME, CHILD_VALUE, DEL
  </sql>
  
  <select id="queryAll" resultMap="BaseResultMap" parameterType="com.ability.emp.admin.entity.AdminSystemParamEntity" >
   select * from t_system_param where DEL = '0' and PARENT_VALUE is null 
    <if test="parentName != null and parentName != ''">
		AND PARENT_NAME like concat(concat('%',#{parentName}),'%')
	</if>
  </select>
  
  <select id="queryChild" resultMap="BaseResultMap" parameterType="com.ability.emp.admin.entity.AdminSystemParamEntity" >
    select * from t_system_param where DEL = '0'
    <if test="id != null and id != ''">
		AND PARENT_VALUE = #{id}
	</if>
  </select>
  
  <select id="queryById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    *
    from t_system_param
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <delete id="delete" parameterType="java.lang.String" >
    delete from t_system_param
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.ability.emp.admin.entity.AdminSystemParamEntity">
    insert into t_system_param
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="parentName != null" >
        PARENT_NAME,
      </if>
      <if test="parentValue != null" >
        PARENT_VALUE,
      </if>
      <if test="childName != null" >
        CHILD_NAME,
      </if>
      <if test="childValue != null" >
        CHILD_VALUE,
      </if>
      <if test="del != null" >
        DEL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="parentName != null" >
        #{parentName,jdbcType=VARCHAR},
      </if>
      <if test="parentValue != null" >
        #{parentValue,jdbcType=VARCHAR},
      </if>
      <if test="childName != null" >
        #{childName,jdbcType=VARCHAR},
      </if>
      <if test="childValue != null" >
        #{childValue,jdbcType=VARCHAR},
      </if>
      <if test="del != null" >
        #{del,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>