<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ability.emp.admin.dao.AdminDao" >
  <resultMap id="BaseResultMap" type="com.ability.emp.admin.entity.AdminEntity" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="ADMIN_NAME" property="adminName" jdbcType="VARCHAR" />
    <result column="ADMIN_PWD" property="adminPwd" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ADMIN_NAME, ADMIN_PWD, STATUS
  </sql>
  
  <select id="queryAll" resultMap="BaseResultMap" parameterType="com.ability.emp.admin.entity.AdminEntity" >
    select * from t_admin where 1=1
     <if test="adminName != null and adminName != ''">
		AND ADMIN_NAME like concat(concat('%',#{adminName}),'%')
	</if>
	<if test="status != null and status != ''">
		AND STATUS like concat(concat('%',#{status}),'%')
	</if>
  </select>
  
  <select id="verifieName" resultType="Integer" parameterType="java.lang.String">
    select count(*) from t_admin where ADMIN_NAME = #{adminName,jdbcType=VARCHAR}
  </select>
  
  <select id="login" resultType="com.ability.emp.admin.entity.AdminEntity">
    select * from t_admin where 1=1
    and ADMIN_NAME = #{adminName,jdbcType=VARCHAR}
    and ADMIN_PWD = #{adminPwd,jdbcType=VARCHAR}
  </select>
  
  <delete id="delete" parameterType="java.lang.String" >
    delete from t_admin
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.ability.emp.admin.entity.AdminEntity" >
    insert into t_admin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="adminName != null" >
        ADMIN_NAME,
      </if>
      <if test="adminPwd != null" >
        ADMIN_PWD,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="adminName != null" >
        #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="adminPwd != null" >
        #{adminPwd,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="com.ability.emp.admin.entity.AdminEntity" >
    update t_admin
    <set >
      <if test="adminName != null" >
        ADMIN_NAME = #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="adminPwd != null" >
        ADMIN_PWD = #{adminPwd,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
</mapper>